body{
    background-color: #82B8D9;
    font-size: 34px;
    font-family: 'Chewy';
    margin: 0;
}

.One, .titleOne{
    display: flexbox;
    background-color: aliceblue;
    width: 100%;
    height: 50px;
    align-items: center;
    margin-top: 0;
    padding: 20px 10px 20px 10px;
    text-align: center;
    font-size: 32px;
}

.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.searchContainer, #disneyCharacter{
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-left: 45rem;
}

.searchContainer, #bottom{
    padding: 10px 20px;
    background-color: #A64E6E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 5px;
}

.searchContainer, #bottom:hover {
    background-color: #F2BBC5;
}

.charactersContainer {
    display: grid;
    grid-template-columns: repeat(3, 35rem); /* Três colunas iguais */
    gap: 12px; /* Espaçamento entre os cards */

}
  